@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Sansita');

body:before{
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: Lightgrey;  /* fallback for old browsers */
  background: url("images/background1.jpg") no-repeat center center;
  /* image from wikipedia commons: https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Happy_Halloween!_(5133602212).jpg/1024px-Happy_Halloween!_(5133602212).jpg  */ 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,h2,h3,h4{
  font-family: 'Sansita', sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: .7px;
  text-align: center;
  cursor: default;
}
h1{
  font-family: 'Kaushan Script', cursive;
}

.container{
  border-radius: 5%;
  width: 80vw;
  max-width: 45em;
  min-width: 300px;
  padding: 1.5em;
  margin: 5% auto;
  background: rgba(255, 255, 255, .75);
  box-shadow: .5em .5em .5em .5em rgba(0, 0, 0, .4);
}

#buttonsWraper{
  text-align: center;
}

#searchTerm{
  text-align: center;
}
#search{
  margin-top: 15px;
}
#output{
  text-align: justify;
}